* {
	outline: none;
}

#title {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin: 23px 0;
}
#credits {
	text-align: center;
	font-size: 8px;
	margin-top: 23px;
}

.playable-team.right .arrow svg {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
}
.playable-team {
	display: flex;
	flex-direction: column;
}
.playable-team.right .name-row {
	flex-direction: row-reverse;
}
.playable-team .name-row {
	display: flex;
	flex-direction: row;
	line-height: 35px;
}
.playable-team .name-row select {
	font-size: 25px;
	margin: 0 8px;
}
.playable-team .arrow svg {
	width: 25px;
}

.playable-team .offense-defense {
	font-size: 19px;
	margin: 28px 0 8px;
	font-weight: bold;
}
.playable-team .offense-defense button {
	margin: -3px 8px 0;
	font-weight: normal;
}

#teamsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 777px;
	margin: 0 auto;
}

button {
	font-size: 12px;
	background-color: #acdf9a;
	border-radius: 5px;
	line-height: 18px;
	padding: 5px 9px;
}
button:hover {
	background-color: #8eb87f;
}
