* {
	outline: none;
}

#title {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin: 23px 0;
}
#credits {
	text-align: center;
	font-size: 8px;
	margin-top: 23px;
}

.playable-team.right .arrow svg {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
}
.playable-team {
	display: flex;
	flex-direction: column;
}
.playable-team.right .name-row {
	flex-direction: row-reverse;
}
.playable-team .name-row {
	display: flex;
	flex-direction: row;
	line-height: 35px;
}
.playable-team .name-row select {
	font-size: 25px;
	margin: 0 8px;
}
.arrow svg {
	width: 25px;
}

.playable-team .offense-defense {
	font-size: 19px;
	margin: 28px 0 8px;
	font-weight: bold;
}
.playable-team .offense-defense button {
	margin: -3px 8px 0;
	font-weight: normal;
}
#react {
	width: 777px;
	margin: 0 auto;
}
.playGameContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

button {
	color: #49c31e;
	font-size: 12px;
	border-radius: 5px;
	line-height: 18px;
	padding: 5px 9px;
}
button.small {
	font-size: 9px;
	border-radius: 3px;
	line-height: 15px;
	padding: 3px 6px;
}
button:hover {
	background-color: #f0f0f0;
}
button.bad {
	color: red;
	background-color: white;
}

.team-edit-container {
	display:flex;
	flex-direction: column;
}
.team-edit-container .title-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	line-height: 33px;
}
.team-edit-container .title-container div {
	margin-left: 13px;
	font-size:31px;
}
.group-table-container {
	display: flex;
	flex-direction: column;
}
.group-table-container .group-type-label {
	padding-left: 116px;
	font-size: 23px;
}
.group-table-container table {
	width: 500px;
	margin: 0 auto;
}
.group-table-container table td {
	text-align: center;
}
.group-table-container table th {
	width: 16%;
}
.group-table-container table tbody tr.injured {
	background-color: #fff3f3;
}
.group-table-container table tr td {
	padding: 3px;
}

.team-edit-container table {
	margin-bottom: 27px;
}
.team-edit-container table tfoot tr {
	border-top: 1px dotted black;
}

.team-edit-container table tbody td {
	cursor: pointer;
}

.player-edit {
	margin-top: 33px;
}

.player-field {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.player-field-label {
	width: 150px;
	text-align: right;
	margin-right: 12px;
}
.player-field.buttons {
	margin-top: 22px;
}
.playable-team button {
	margin-left: 11px;
}
.playable-team .offense-defense + div div {
	margin: 10px 0;
}
.outputContainer {
	width: 300px;
}